<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<div class="row row-cols-4">
  <div id="new_movie_form" class="card mb-2 mr-1">
    <div class="card-body">
        <%= render "movies/form", movie: Movie.new %>
    </div>
  </div>
  <% @movies.each do |movie| %>
      <div id="<%= dom_id(movie) %>" class="card mb-2 mr-1">
    <div class="card-body">
      <h5 id="<%= dom_id(movie) %>_title" class="card-title"><%= link_to "#{movie.title}", movie_edit_title_path(movie), remote: true %></h5>
      <h6 id="<%= dom_id(movie) %>_director"class="card-subtitle mb-2 text-muted">Directed by <%= link_to "#{movie.director.name}", movie_edit_director_id_path(movie), remote: true %></h6>
      <h6 id="<%= dom_id(movie) %>_duration"class="card-subtitle mb-2 text-muted">Duration <%= link_to "#{movie.duration}", movie_edit_duration_path(movie), remote: true %></h6>
      <h6 id="<%= dom_id(movie) %>_year"class="card-subtitle mb-2 text-muted">Released in <%= link_to "#{movie.year}", movie_edit_year_path(movie), remote: true %></h6>
      <p id="<%= dom_id(movie) %>_description"class="card-text"><%= link_to "#{movie.description}", movie_edit_description_path(movie), remote: true %></p>
    </div>
    <div class="card-footer">
        <%= link_to 'Destroy', movie, 
            method: :delete,
            remote: true, 
            data: { confirm: 'Are you sure?' } 
            %>
        <%= link_to 'Show', movie %>
    </div>
  </div>
  <% end %>
</div>

<br>
