<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<% @movies.each do |movie| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= movie.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Directed by <%= movie.director_id %></h6>
      <h6 class="card-subtitle mb-2 text-muted">Duration <%= movie.duration %></h6>
      <h6 class="card-subtitle mb-2 text-muted">Released in <%= movie.year %></h6>
      <p class="card-text"><%= movie.description %></p>
      <div class="card-link">
        <%= link_to 'Destroy', movie, 
            method: :delete,
            remote: true, 
            data: { confirm: 'Are you sure?' } 
            %>
      </div>
      <div class="card-link">
        <%= link_to 'Show', movie %></td>
      </div>
    </div>
  </div>
  <% end %>

<br>

<%= link_to 'New Movie', new_movie_path %>
