<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<div class="row row-cols-4">
<% @movies.each do |movie| %>
  <div id="<%= dom_id(movie) %>" class="card mb-2 mr-1">
    <div class="card-body">
      <h5 class="card-title"><%= movie.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Directed by <%= movie.director.name %></h6>
      <h6 class="card-subtitle mb-2 text-muted">Duration <%= movie.duration %></h6>
      <h6 class="card-subtitle mb-2 text-muted">Released in <%= movie.year %></h6>
      <p class="card-text"><%= movie.description %></p>
    </div>
      <div class="card-footer">
        <%= link_to 'Destroy', movie, 
            method: :delete,
            remote: true, 
            data: { confirm: 'Are you sure?' } 
            %>
        <%= link_to 'Show', movie %>
      </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Movie', new_movie_path %>
